ts/node_modules

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/hms/dist
/hms/tmp
/hms/out-tsc
/hms/bazel-out

# Node
/hms/node_modules
/hapijs/node_modules
/hapijs/.env
/hapijs/test.rest
npm-debug.log
yarn-error.log

# IDEs and editors
/hms/.idea/
/hms/.project
/hms/.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/hms/.angular/cache
/hms/.sass-cache/
/hms/connect.lock
/hms/coverage
/hms/libpeerconnection.log
testem.log
/hms/typings

# System files
/hms/.DS_Store
/hmsThumbs.db
