 {{bookingForm.value|json}}
 {{bookingForm.pristine|json}}
 {{bookingForm.dirty|json}}
<br> <br> 
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Booking Id</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Room Id</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Guest Email</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Check In Date</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Booking Status</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Booking Amount</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Booking Date</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
    <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
 </form>
 <form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
      <mat-label>Guest Name</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
</form>
<form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
      <mat-label>Guest Address</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
</form>
<form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
      <mat-label>Guest City</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
</form>
<form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input matInput placeholder="">
  </mat-form-field>
</form>