{{bookingForm.value|json}}
{{bookingForm.pristine|json}}
{{bookingForm.dirty|json}}
<br> <br>
<form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
    <mat-label>Booking Id</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="bookingId"
      placeholder="Booking Id">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Room Id</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="roomId"
      placeholder="Room Id">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Guest Email</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="guestEmail"
      placeholder="Guest Email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Check In Date</mat-label>
    <input 
      type="date"
      matInput 
      formControlName="checkinDate"
      placeholder="Check In Date">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Booking Status</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="bookingStatus"
      placeholder="bookingStatus">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Booking Amount</mat-label>
    <input 
      type="number"
      matInput 
      formControlName="bookingAmount"
      placeholder="bookingAmount">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Booking Date</mat-label>
    <input 
      type="date"
      matInput 
      formControlName="bookingDate"
      placeholder="Booking Date">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input 
      type="number"
      matInput 
      formControlName="mobileNumber"
      placeholder="Mobile Number">
  </mat-form-field>
</form>
<!-- <form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
    <mat-label>Guest Name</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="roomId"
      placeholder="Room Id">
  </mat-form-field>
</form>
<form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
    <mat-label>Guest Address</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="roomId"
      placeholder="Room Id">
  </mat-form-field>
</form>
<form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
    <mat-label>Guest City</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="roomId"
      placeholder="Room Id">
  </mat-form-field>
</form>
<form [formGroup]="bookingForm">
  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input 
      type="text"
      matInput 
      formControlName="roomId"
      placeholder="Room Id">
  </mat-form-field>
</form> -->