    <table class="table table-hover">
    <thead>
        <tr class="col">
            <!-- <th scope="col">Index</th> -->
            <th scope="col">Room Id</th>
            <th scope="col">Room Type</th>
            <th scope="col">amenities</th>
            <th scope="col">price</th>
            <th scope="col">checkInTime</th>
            <th scope="col">checkOutTime</th>
            <th scope="col">Availibility</th>
            <th scope="col"> Photo </th>
            <th scope="col">Select</th>
            <th scope="col">Update</th>
        </tr>
    </thead>

    <tr class="col"  
        *ngFor="let room of rooms | filter: price "
    >
        <!-- <td scope="col">{{e?"even":"odd"}}</td> -->
        <td scope="col">{{room.roomNumber}}</td>
        <td scope="col">{{room.roomType}}</td>
        <td scope="col">{{room.amenities}}</td>
        <td scope="col">{{room.price}}</td>
        <td scope="col">{{room.checkinTime|date}}</td>
        <td scope="col">{{room.checkoutTime|date}}</td>
        <td scope="col">{{room.rating}}</td>
        <td scope="col"><img width="50%" height="50" src="{{room.photos}}" alt=""></td>
        <td scope="col">
            <!-- <button
            class="btn btn-primary"
            (click)="SelectRoom(room)"
            >
                Select
            </button> -->
            <button class="btn btn-secondary" [routerLink]="['/booking',room.roomNumber]">Book</button>
        </td>
        <td>
            <button class="btn btn-secondary" [routerLink]="['/rooms/update',room.roomNumber]">Update</button>
        </td>
    </tr>
</table>