<!-- <p>Room no: {{roomNo}}</p> -->
<!-- <app-header></app-header> -->
<!-- {{ rooms?.availableRooms ?? "No available roooms"}} -->
<!-- <div *ngIf="rooms.availableRooms>0">
    <div [hidden]="hiderooms">
        No of rooms:
        <div [innerText]="roomNo"></div>
    </div>
    <div [ngStyle]="{'color':rooms.availableRooms? 'green':'red'}">
    </div>
    <button (click)="toggle()">{{ buttonName }}</button>
</div> -->
<h1>{{getError$|async}}</h1>
<h1>Number of rooms:{{roomsCount$|async}}</h1>
<div *ngIf="rooms$|async as rooms">
    <app-rooms-list [roomList]="rooms" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    <!-- {{roomList|json}} -->
</div>
<div *ngIf="selectedRoom">
    {{selectedRoom|json}}
</div>

<div>
    <button class="btn btn-primary" routerLink="add">Add Room</button>
</div>
<!-- 
<div>
    <button class="btn btn-primary" (click)="updateRoom()">Update Room</button>
</div>
-->
<div>
    <button class="btn btn-primary" (click)="deleteRoom()">Delete Room</button>
</div> 
<router-outlet></router-outlet>